.btn--secondary{
    background-color: green;
}
 
.btn-primary{
    background-color: red;
    font-size: larger;
}

.btn--sm{
    font-size: smaller;
}
 
.btn-md{
    font-size: medium;
}
 
.btn-lg{
    font-size: larger;
}
 
.btn-fullwidth{
    width: 50px;
}
 
   

 
.btn-secondary{
    background-color: green;
}
 
.btn-primary{
    background-color: red;
    font-size: larger;
}
 
.btn-sm{
    font-size: smaller;
}
 
.btn-md{
    font-size: medium;
}
 
.btn-lg{
    font-size: larger;
}
 
.btn-fullwidth{
    width: 50px;
}
 
   