:root{
    /* color */
    --primary-color-page-banner: #00BEAE;
    --secondary-color-page-banner: #FF9E0E;
    --primary-color-hero: #FF9500;
    --secondary-color-hero: #00BEAE;


    /* font-size */
    --font-family-header: 'Sora', sans-serif;
    --font-family-body: 'Epilogue', sans-serif;
    --font-size-page-banner: 1.0625rem;

    /* measurements */
    --padding-left: 18.75rem;
    --padding-right: 18.75rem;
    --width: 1920px;
    
}