:root{
    /* color */
    --primary-color-page-banner: #00BEAE;
    --secondary-color-page-banner: #FF9E0E;


    /* font-size */
    --font-family-header: 'Sora', sans-serif;
    --font-family-body: 'Epilogue', sans-serif;
    --font-size-page-banner: 1rem;

    /* measurements */
    --padding-left: 7.25rem;
    --padding-right: 7.25rem;
    --max-width: 99vw;
    
}