@import url(../../themes/variables.css);
@import url(../../themes/global.css);



.page-banner {
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  background-color: var(--primary-color-page-banner);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  height: 3.125rem;
  font-family: var(--font-family-header);
  font-optical-sizing: auto;
  font-weight: Regular;
  font-size: var(--font-size-page-banner);
  font-style: normal;
  /* box-sizing: border-box; */
}

.page-banner__content{
    display: flex;
    align-items: center;
   gap: 1rem;
   height: 2rem;
   align-items: center;
}

.page-banner__content span{
    display: flex;
    align-items: center;
    gap: .3125rem;
    padding: .5rem 0;
}

.page-banner__content span:first-child{
    border-right: 1px solid #ffffff50;
    padding-right: 1.1875rem;
}

.page-banner__content___icon{
    margin-right: .8rem;
    margin-top: .125rem;
    margin-bottom: .125rem;
}


.page-banner__iconswrapper{
    display: flex;
    align-items: center;
    gap: 2.6794rem;
    background-color: var(--secondary-color-page-banner);
    width: 19.1644rem;
    height: 100%;
    justify-content: space-between;
  
}

.page-banner___icons-innerwrapper{
    display: flex;
    align-items: center;
    width: 12rem;
    height: 2.25rem;
    gap: 1.5rem;
    margin: .4375rem 1.9369rem .4375rem .3125rem;
}

.page-banner___changelang{
    display: flex;
    align-items: center;
   border-right: 1px solid #ffffff50;
   padding-right: 1.1875rem;
}

.page-banner___changelang .arrowdown{
    margin-left: .3125rem;
}

.page-banner___icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .8744rem;
}

.flag{
    width: 1.25rem;
    height: 1rem;
}

.blueline{
    height: 100%;
    width: .25rem;
    background-color: var(--primary-color-page-banner);
    margin-right: .9375rem;
}

/* Page Header */

.page-header{
    padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  background-color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0E2A46;
  height: 4.5rem;
  font-family: var(--font-family-header);
  font-optical-sizing: auto;
  font-weight: Regular;
  font-size: var(--font-size-page-banner);
  font-style: normal;
}

.page-header_logo{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-top: .7156rem;
    margin-right: 4rem;
    width: 12.5rem;
    height: 3.0675rem;
}
    
.page-header_logo__icon{
    width: 12.5rem;
    height: 3.0675rem;
}

.page-header_links{
    display: flex;
    align-items: center;
    gap: 2.75rem;
    width: 47.1875rem;
    height: 100%;
}

.page-header___link{
    text-decoration: none;
    color: #0E2A46;
}

.page-header_contact{
    display: flex;

}

.page-header_contact .search{
    margin-right: 1.375rem;
}

.page-header_contact .personicon{
    margin-right: 1.875rem;
}